# Numpy Exercises

In [ ]:
import numpy as np

import matplotlib.pyplot as plt
import random # Thư viện built-in của Python

**Question 1**

```python
names = np.array(["Alice", "Mary", "Alice", "Mary", "Alice"])    
score = np.array([316, 215, 130, 141, 132])``

Do the following using a single one-line vectorized operation
- Extract all test scores that are smaller than 130
- Extract all test scores of Alice
- Add 10 points to Mary’s scores. (You need to extract it first.)`

**Question 2**

Draw the following cell with background color is silver (192,192,192) and foreground is gold (184,134,11).
![image.png]()

For the next few questions we will work with Iris Dataset

In [ ]:
iris_1d = np.genfromtxt('Data/Iris.csv', delimiter=',', skip_header=1, dtype=None,encoding=None)

**Question 3**

Find the unique values and the count of unique values in iris's species

Expected output:
```
['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']
[50, 50, 5]
```

**Question 4**\
Find the most frequent value of petal length (3rd column) in iris dataset

**Question 5**\
Find the position of the first occurrence of a value greater than 1.0 in petalwidth 4th column of iris dataset